<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" thread-count="3" parallel= "tests" verbose="1">
  <test name="TestChrome">
    <parameter name="browserName"  value="Chrome"/>
    <classes>
       <class name="TestBrowsers"/>
    </classes>
  </test>

  <test name="TestEdge">
    <parameter name="browserName"  value="Edge"/>
    <classes>
       <class name="TestBrowsers"/>
    </classes>
  </test>

  <test name="TestFirefox">
    <parameter name="browserName"  value="Firefox"/>
    <classes>
       <class name="TestBrowsers"/>
    </classes>
  </test>
</suite>

