<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" thread-count="3" parallel= "tests" verbose="1">
  <test name="RunWithChrome">
    <parameter name="browserName"  value="Chrome"/>
    <classes>
       <class name="GoogleHomePageTest"/>
    </classes>
  </test>

  <test name="RunWithEdge">
    <parameter name="browserName"  value="Edge"/>
    <classes>
       <class name="GoogleHomePageTest"/>
    </classes>
  </test>

  <test name="RunWithFirefox">
    <parameter name="browserName"  value="Firefox"/>
    <classes>
       <class name="GoogleHomePageTest"/>
    </classes>
  </test>
</suite>

